<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>BEAUTIFUL PROJECT</title>

    <link rel="stylesheet" href="{% static 'css/daisy-ui.css' %}"/>
    <script src="{% static 'scripts/daisy-ui.js' %}"> </script>
  
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <nav class="flex justify-evenly bg-amber-900 text-white items-center">
        NAVBAR
    </nav>
    <main class=" flex flex-col items-center min-h-screen font-bold p-3">
        {% block content %} {% endblock %}
    </main>
    <footer class="flex justify-evenly bg-amber-900 text-white items-center"> All rights reserved @ 2026 PRINCE CEEJAY NG</footer>
</body>
</html>